header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #989db3;
  z-index: 999;
  transition: all 0.3s ease;
  overflow-x: hidden;
  margin-left: 220px;

  nav {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    //   padding-top: 5px;
    //   padding-bottom: 5px;
  }

  .menu-container {
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .menu-icon {
    position: relative;
    width: 20px;
    height: 2px;
    border-radius: 5px;
    // background: var(--general4);
    background: var(--primary-color);

    &::before {
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      width: 10px;
      height: 2px;
      border-radius: 5px;
      // background: var(--general4);
      background: var(--primary-color);
    }

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      right: 0;
      width: 10px;
      height: 2px;
      border-radius: 5px;
      // background: var(--general4);
      background: var(--primary-color);
    }
  }
}

.open {
  transform: translateX(220px);
}

@media screen and (max-width: 992px) {
  header {
    margin-left: 0px;
  }
}
