// Onyx Custom Palette

$mat-onyx-brown: (
  50: #f5ebe5,
  100: #e7cdbf,
  200: #d7ac95,
  300: #c78a6a,
  400: #bb714a,
  500: #af582a,
  600: #a85025,
  700: #9f471f,
  800: #963d19,
  900: #862d0f,
  A100: #ffc7b8,
  A200: #ff9e85,
  A400: #ff7652,
  A700: #ff6238,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-onyx-accent: (
  50: #f5e5e7,
  100: #e7bfc2,
  200: #d79599,
  300: #c76a70,
  400: #bb4a52,
  500: #af2a33,
  600: #a8252e,
  700: #9f1f27,
  800: #961920,
  900: #860f14,
  A100: #ffb8ba,
  A200: #ff8589,
  A400: #ff5258,
  A700: #ff383f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$mat-onyx-red: (
  50: #fdeced,
  100: #faced1,
  200: #f6aeb2,
  300: #f28e93,
  400: #f0757c,
  500: #ed5d65,
  600: #eb555d,
  700: #e84b53,
  800: #e54149,
  900: #e03037,
  A100: #ffffff,
  A200: #fff1f1,
  A400: #ffbec0,
  A700: #ffa4a7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$primary: #af582a;
$black1: #262c31;
$gray1: #777878;
$gray2: #686868;
$white: #ffffff;

$colors: (
  --primary-color: (
    $primary,
    $primary,
  ),
  --variation1: (
    $black1,
    $white,
  ),
  --variation2: (
    $gray1,
    $white,
  ),
  --variation3: (
    $gray2,
    $white,
  ),
);
